<!DOCTYPE html>
<html lang="en">
 <!-- basic HTTP and security configuration -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- External CSS -->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
<!--    <script src="https://www.google.com/recaptcha/api.js" async defer></script>-->
</head>
<body>

    <div class="login-container">
        <!-- alert and header  -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <h2 class="text-center">Reset Password</h2>
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <!-- action: change path? post the HTTP request.  registration form?   -->
        <form action="/reset_password" method="post" id="registrationForm">


            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>

<!--            <div class="g-recaptcha"-->
<!--                 data-sitekey="6LeMXbQpAAAAAOXcpk6Fk_J3RqaSW6MAOJxWY6AL"-->
<!--                 data-theme="light"-->
<!--                 data-size="normal"-->
<!--                 data-callback="verify"-->
<!--                 data-expired-callback="expired"-->
<!--                 data-error-callback="error"-->
<!--                 data-badge="inline"-->
<!--                 data-tabindex="0">-->
<!--            </div>-->

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Confirm</button>
            </div>

        </form>
        <div class="text-center mt-3">
            <a href="/login" class="btn btn-secondary">Back to Login</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/reset_password.js') }}"></script>
</body>
</html>
